<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6131ecdde6.js"></script>
    <link rel="stylesheet" tupe="text/css" href="../Assets/css/estilo2.css">
    <title>Hotel Hotelia</title> 
</head>
<body> 
    <nav>
        <div class="logo">
            <img src="../Assets/img/Hotelia horizontal blanco.svg">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="menu">
          <a href="Index.html" class="item">Inicio</a>
          <a href="Ubicanos.html" class="item">Ubícanos</a>
          <a href="Opiniones.html" class="item">Opiniones</a>
          <hr class="menu-hr" noshade="">
          <a href="../Views/Dashboard/Dashboard.html" class="item"><button class="navbar-button"><i class='fa-solid fa-user'>
         </i>Iniciar Sesión</button></a>
        </div>
    </nav>

    <section id="slide1">
        <h4 class="slide1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
    </section>

    <section id="informacion">
    <div class="information">
    <div class="info texto-info">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, et ipsam tempora sint est sunt adipisci, odit facere, quod labore doloremque excepturi? Nostrum ab, cumque nemo natus vel qui perspiciatis.
        Quia nemo quibusdam, neque suscipit libero ut! Provident voluptatem animi suscipit eveniet necessitatibus! Iste maiores enim sit reprehenderit incidunt aperiam quas, recusandae temporibus a reiciendis accusamus laudantium quasi tenetur dolores?
        Accusantium odit quisquam repellendus deserunt error? Maxime sed expedita beatae placeat alias saepe pariatur, deleniti debitis tempora officiis, ipsa dolorem itaque mollitia laboriosam necessitatibus numquam accusamus velit dolorum! Non, commodi!
        Accusantium, consectetur error! Amet quam, quibusdam velit placeat saepe neque a sit inventore? Neque atque adipisci officiis illo autem voluptate aperiam cumque ipsa temporibus itaque, omnis excepturi commodi, saepe nobis?
        Quam aspernatur enim nesciunt nulla iste adipisci eligendi illum unde itaque suscipit minima possimus accusantium harum vel a, esse dicta dignissimos at, quos maxime perferendis. Aliquid assumenda a aspernatur optio.</p>
    </div>
    <div class="info img-info"> 
        <img src="../Assets/img/Hotelia negro vertical.svg" id="img-info"> 
    </div>
    </div>
    </section>

    <section id="features">
        <h2 class="features-title">Razones por las que disfrutarás quedarte con nosotros</h2>
        <div class="features-description">

        <div class="feature feature-blue one">
            <i class="fa-solid fa-bell-concierge"></i>
            <p>Lorem ipsum dolor</p>
        </div>
        <div class="feature feature-black two">
            <i class="fa-solid fa-bed"></i>
            <p>Lorem ipsum dolor</p>
        </div>
        <div class="feature feature-blue three">
            <i class="fa-solid fa-wifi"></i>
            <p>Lorem ipsum dolor</p>
        </div>
        <div class="feature feature-black four">
            <i class="fa-solid fa-dumbbell"></i>
            <p>Lorem ipsum dolor</p>
        </div>
        
        </div>
    </section>

    <section id="ubicanos">
        <h2 class="title-ubicanos">Ubícanos</h2>
       <div class="caja-ubicanos">
       <div class="image-ubicanos">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.964412016966!2d-74.07746738568648!3d4.600397243801156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a7147877c9%3A0x378b95e9cbda0740!2sCra.%208%20%2312a-42%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1659027279856!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
       <p class="addres-ubicacion">AVENIDA CARRERA 8. #12A-42. BOGOTA DC, COLOMBIA</p>
       <hr class="ubicacion-hr" noshade="">
       <p class="contactar">+57 601 4567899</p>
       </div> 
    </section>

    <section id="calificacion">
        <h2 class="title-calificacion">Nuestros usuarios dicen...</h2>
        <div class="caja-user">

            <div class="user user2">
            <img src="../Assets/img/user-user.png" alt="">
            </div>

            <div class="user user1">
            <img src="../Assets/img/user-user.png" alt="">
            </div>

            <div class="user user2">
            <img src="../Assets/img/user-user.png" alt="">
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer">
        <div class="col01">
            <div class="col1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aspernatur, officiis delectus quas distinctio eligendi, debitis dolores obcaecati accusamus sequi ad recusandae hic, nostrum doloremque expedita similique aliquid aliquam asperiores!</p>
            </div>
            <div class="icons">
                <div class="iconp"><i class="fa-brands fa-instagram"></i></div>
                <div class="iconp"><i class="fa-brands fa-facebook-f"></i></div>
                <div class="iconp"><i class="fa-brands fa-twitter"></i></div>
            </div>
        </div>
        <hr class="footer-hr" noshade="">
            <div class="col2">
                <p class="location"><i class="fa-solid fa-location-dot"></i>  Avenida carrera 8. #12A-42. Bogotá DC, Colombia </p>
                <p class="phone"><i class="fa-solid fa-phone">  +57 601 4567899</i></p>
            </div>
            <hr class="footer-hr" noshade="">
            <div class="col3">
                <a href="">Politicas de privacidad</a>
                <a href="">Politicas de privacidad</a>
            </div>
            <hr class="footer-hr" noshade="">

            <div class="icons1">
                <div class="iconp"><i class="fa-brands fa-instagram"></i></div>
                <div class="iconp"><i class="fa-brands fa-facebook-f"></i></div>
                <div class="iconp"><i class="fa-brands fa-twitter"></i></div>
            </div>

        </div>

    </footer>

</body>
</html>