<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <script src="https://kit.fontawesome.com/6131ecdde6.js"></script>
    <link rel="stylesheet" type="text/css" href="../../Assets/css/estilo.css">
</head>
<body id="Inicio-sesion">
    
    <section id="formulario">
        <div class="img-formulario">
            <img src="../../Assets/img/Hotelia horizontal negro.svg" id="img-formulario">
        </div>
        <div class="user-formulario">
            <i class="fa-solid fa-circle-user"></i>
        </div>
        <fieldset class="formulario">
            <form action="../Dashboard/Dashboard.html" method="get">
            <label for="usuario">Usuario</label>
            <input type="text" name="usario" id="usuario" class="formu"><br><br>

            <label for="contrasena">Constraseña</label>
            <input type="password" name="contrasena" id="contrasena" class="formu"><br><br>

            <button type="submit" class="boton-formu">Ingresar</button>
        </form>
        </fieldset>
        <div class="registrar-formu">
            <p class="registrate">¿No tienes una cuenta?</p>
            <a href="../Inicio/RegistrarUsuario.html" class="aqui">Registrate aquí</a>
        </div>
    </section>

</body>
</html>